.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.main>section{
    margin-top: 10vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}
.main>section>div{
    width: 70%;
}

.main>section>div>h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 59.33px;
    text-align: left;
    color:#2b2b2b;
    /* width: 60%; */
    margin-bottom:50px
}
.main>section>div>h1>span{
    color:#ffb400;
}

.main>section>div>p{
    color: #767676;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    /* width: 60%; */
}
.main>section>img{
    width: 99%;
    object-fit: cover;
    padding-top: 85px;
}

.main>section>div>a>button{
    background-color: #ffb400;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 120px;
    padding: 16px 32px 16px 32px;
    border-radius: 5px;
}
.main>section>div>a>button:hover>img{
    transition: 250ms ease-in-out;
    transform: translate(5px, 0px);
}

@media only screen and (max-width:1000px) {
    .main{
        flex-direction: column-reverse;
        height: auto;
        padding: 40% 0 0 0;
    }
    .main > section{
        width: 100vw;
        height: auto;
        margin: 0;
    }
    .innerLeft{
        width: 100%;
    }
    .main>section>div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main>section>div>h1{
        font-size: xx-large;
        line-height: 39.33px;
        text-align: center;
        margin-bottom: 20px;
    }
    .main>section>div>p{
        font-size: large;
        text-align: center;
    }
    .main>section>img{
        width: 80%;
        padding: 0;
        margin: 0;
    }
    .main>section>div>a>button{
        margin: 20px 0 40px 0;
        align-self: center;
        justify-self: center;
    }
}