.sectioning{
    display: flex;
    flex-direction: column;
    background-color: #f0f0f6;
    justify-content: center;
    align-items: center;
    padding: 3% 5% 8% 5%;
    overflow: hidden;
}
.sectioning>article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectioning>article:nth-child(2){
    padding: 0px;
}
.sectioning>article>div:first-of-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw !important;
}
.sectioning>article>div>h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 59.33px;
    text-align: center;
    color:#2b2b2b;
    width: fit-content;
    margin-bottom: 30px;
}
.sectioning>article>div>p{
    text-align: center;
    color:#767676;
    width: fit-content;
    margin-bottom:20px;
}
.slides{
    width: 77vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.recommCards{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 500ms ease-in-out;
}
.recommCard{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 20px;
    width: 300px;
    height: 300px;
    transition: 500ms ease-in-out;
}
.stars{
    display: flex;
    gap: 13px;
}
.stars img{
    width: 17px;
}
.recommCard section:first-of-type h4{
    color:#2b2b2b;
    font-size: larger;
    font-weight: 700;
    margin-bottom: 10px;
}
.recommCard section:first-of-type p{
    color:#767676;
    font-size: smaller;
    line-height: 1.5;
    margin-bottom: 25px;
}

.recommCard section:nth-child(3){
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.recommCard section:nth-child(3) img{
    height: 110%;
    margin-left: 10px;
}

.recommCard section:nth-child(3) h5{
    color:#2b2b2b;
    font-size: large;
    font-weight: 500;
    margin-bottom: 5px;
}
.recommCard section:nth-child(3) p{
    color:#767676;
    font-size: medium;
    padding-left:2px;
}
.points{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.points .pointActive{
    background-color: #ffb400 !important;
    transform: scale(1.1);
}
.points .point{
    background-color: #ffde8d;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 25px 0;
    cursor: pointer;
}

@media only screen and (max-width:1000px) {
    .sectioning{
        padding: 0;
    }
    .sectioning>article>div:first-of-type{
        width: 75vw !important;
    }
    .sectioning>article>div>h2{
        font-size: xx-large;
        margin:50px 0 0 0;
    }
    .sectioning>article>div>p{
        font-size: large;
        margin-bottom:30px;
    }
    .cards{
        grid-template-columns: none;
    }
    .slides{
        width: 90vw;
    }
    .recommCard{
        width: 50vw;
        height: fit-content;
    }
    .recommCard section:nth-child(3){
        flex-direction: column;
        gap: 10px;
    }
    .stars{
        align-self: center;
        justify-self: center;
    }
    

}